@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='dark'] {
    --bg-1: #09090b;
    --bg-2: #18181b;
    --bg-3: #27272a;
    --bg-4: #3f3f46;
    --txt-1: #fafafa;
    --txt-2: #f4f4f5;
    --txt-3: #e4e4e7;
    --txt-4: #d4d4d8;
    --brd-1: #71717a;
    --brd-2: #52525b;
}

[data-theme='light'] {
    --bg-1: #fafafa;
    --bg-2: #f5f5f5;
    --bg-3: #e5e5e5;
    --bg-4: #d4d4d4;
    --txt-1: #0a0a0a;
    --txt-2: #171717;
    --txt-3: #262626;
    --txt-4: #404040;
    --brd-1: #525252;
    --brd-2: #737373;
}

* {
    padding: 0;
    margin: 0;
}

html, body, .page {
    width: 100%;
    height: 100%;
}

input {
    outline: none;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
}
